;; Name:    karabiner.edn
;; Desc:    Karabiner configuration for Alex Candido.
;; Author:  Alex Candido <github:alxcsx>

{:templates
 {:open "open -a %s"
  :open-new "open -n -a %s"}

 :main
 [{:des "Alex's Karabiner config"
   :rules [
           ;; Open Launcher (Cmd + Space)
           [:!Cspacebar [:open "Sol"]]

           ;; Open Terminal (Option + T)
           [:!Ot [:open-new "Kitty"]]

           ;; Open System Settings (Option + Shift + Z)
           [:!OSz [:open "\"System Settings\""]]]}]}